body {
    padding: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 120px;
    height: 30px;
}

h3 {
    color: darkorange;
    size: 20px;
}

h4 {
    color: darkblue;
    size: 16px;
}

.page-header {
    border-bottom: 1px solid #000;
}

.results {
    font-weight: bold;
}